@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Esta página foi criada como estudo sobre MVC. </p> 
    <p>Mais informações em: <a href="https://docs.microsoft.com/aspnet/core">Construindo páginas web com ASP.NET Core</a>.</p>
</div>
